<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.bpn.testdemo.mapper.OrderMapper">

    <resultMap id="baseResultMap" type="com.bpn.testdemo.dtos.OrderDto">

        <id property="id" column="id"/>
        <result property="orderBy" column="order_by"/>
        <result property="orderDate" column="order_date"/>

        <collection property="orderDetails" ofType="com.bpn.testdemo.dtos.OrderDetailsDto">
            <result property="id" column="od_id"/>
            <result property="productName" column="product_name"/>
            <result property="quantity" column="quantity"/>
            <result property="rate" column="rate"/>
        </collection>
    </resultMap>

    <select id="getOrder"  resultMap="baseResultMap">
        select o.id, o.order_by, o.order_date, od.id as od_id, od.product_name, od.quantity, od.rate from order_tb o
        left join order_details od on od.order_id = o.id
    </select>

</mapper>
